<form method="post">
  <div>
    <div>
	<span>ModelCode :</span>
      <input type="text" name="ModelCode" id="editPostModelCode" />
    </div>
<div>	
<span>ItemCode :</span>
      <input type="text" name="ItemCode" id="editPostItemCode" />
    </div>
<div>
	<span>ProductName :</span>
      <input type="text" name="ProductName" id="editPostProductName" />
    </div>
<div>
	<span>StockQty :</span>
      <input type="text" name="StockQty" id="editPostStockQty" />
    </div>
<div>
	<span>Mrp :</span>
      <input type="text" name="Mrp" id="editPostMrp" />
    </div>
<div>
	<span>CashandCarry :</span>
      <input type="text" name="CashandCarry" id="editPostCashandCarry" />
    </div>
	<div id='editPostSubmit'>
      <input type="submit" value="Send" />
    </div>
  </div>
</form>

